body { -webkit-transition: 1s ease all; transition: 1s ease all; }

body.dark { background-color: #181818; color: antiquewhite; }

*, html { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html { min-height: 100vh; background-color: rgba(222, 184, 135, 0.5); -webkit-box-sizing: border-box; box-sizing: border-box; }

.header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin: 0 auto; max-width: 1200px; text-align: center; }

@media (max-width: 1200px) { .header { margin: 0 1rem; } }

.header__container { text-align: center; position: fixed; background-color: burlywood; width: 100%; -ms-flex-line-pack: center; align-content: center; z-index: 2; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; top: 0; -webkit-transition: background-color 2s; transition: background-color 2s; }

body.dark .header__container { background-color: #191919; color: #f1f1f1; -webkit-transition: background-color 2s; transition: background-color 2s; }

.header__logo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 1rem; margin: auto 0; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.header__logoBtn { background: none; border: none; }

.header__logoBtn--img { width: 4em; }

@media (max-width: 760px) { .header__logoBtn--img { width: 3em; } }

@media (max-width: 300px) { .header__logoBtn--img { width: 2em; } }

.header__title { display: -webkit-box; display: -ms-flexbox; display: flex; color: black; font-weight: 700; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-item-align: center; align-self: center; text-align: center; -webkit-transition: color 2s; transition: color 2s; }

@media (max-width: 1024px) { .header__title { font-size: xx-large; } }

@media (max-width: 760px) { .header__title { font-size: x-large; } }

@media (max-width: 400px) { .header__title { font-size: medium; } }

body.dark .header__title { color: #f1f1f1; -webkit-transition: color 2s; transition: color 2s; }

.header__nav { -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: right; -ms-flex-pack: right; justify-content: right; position: absolute; top: 100%; left: 0; right: 0; padding: 10px 0; display: -webkit-box; display: -ms-flexbox; display: flex; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

@media (max-width: 760px) { .header__nav { background-color: burlywood; -webkit-transition: background-color 2s; transition: background-color 2s; }
  body.dark .header__nav { background-color: #191919; color: #f1f1f1; -webkit-transition: background-color 2s; transition: background-color 2s; } }

@media (min-width: 760px) { .header__nav { position: static; width: 100%; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; gap: 10px; } }

.header__links { text-decoration: none; font-size: x-large; color: black; font-weight: 700; padding: 0 0.5rem; -webkit-transition: color 2s; transition: color 2s; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; }

.header__links:hover { cursor: pointer; background-color: white; color: black; -webkit-transition: background-color 1s; transition: background-color 1s; border-radius: 1rem; }

body.dark .header__links { color: #f1f1f1; -webkit-transition: color 2s; transition: color 2s; }

@media (max-width: 1200px) { .header__links { font-size: large; } }

@media (max-width: 1024px) { .header__links { font-size: small; } }

@media (max-width: 759px) { .header__links { font-size: large; display: block; } }

.header__menuBtn { display: none; background: none; border: none; -webkit-box-pack: right; -ms-flex-pack: right; justify-content: right; }

.header__menuBtn--img { width: 2em; }

body.dark .header__menuBtn--img { background-color: antiquewhite; padding: 0.25rem; border-radius: 20%; }

.header__menuBtn--img:active { -webkit-transform: scale(0.9); transform: scale(0.9); }

@media (max-width: 759px) { .header__menuBtn { display: block; } }

.header .btnSwitch__container { padding: 10px; }

.header .btnSwitch { background-color: #343d5b; -webkit-transition: background-color 1s; transition: background-color 1s; border-radius: 2rem; border: none; position: relative; cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; outline: none; }

.header .btnSwitch::after { content: ''; display: block; width: 30px; height: 30px; position: absolute; background: #f1f1f1; top: 0; left: 0; border-radius: 100px; -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }

.header .btnSwitch.active { background-color: goldenrod; -webkit-transition: background-color 1s; transition: background-color 1s; color: black; }

.header .btnSwitch.active::after { right: 0; left: unset; }

.header .btnSwitch span { width: 30px; height: 30px; line-height: 30px; display: block; background: none; color: ivory; }

.hidden { display: none; }

@media (min-width: 760px) { .hidden { display: -webkit-box; display: -ms-flexbox; display: flex; } }

.footer__container { background-color: burlywood; -webkit-transition: background-color 2s; transition: background-color 2s; }

body.dark .footer__container { -webkit-transition: background-color 2s; transition: background-color 2s; background-color: #191919; }

.hero__productos { height: 50rem; margin-top: 4rem; background-image: url("images/bartender.jpg"); background-size: cover; background-position: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-size: cover; -webkit-filter: grayscale(100%); filter: grayscale(100%); }

.hero__productos:hover { -webkit-filter: grayscale(0%); filter: grayscale(0%); }

.hero__productos__card { background-color: rgba(255, 255, 255, 0.5); padding: 2rem; height: 12rem; width: auto; border-radius: 20px; border: 1px solid black; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-item-align: center; align-self: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 2rem; }

.hero__productos__card:hover { background-color: rgba(222, 184, 135, 0.5); -webkit-transition: background-color 0.5s linear; transition: background-color 0.5s linear; color: black; }

.hero__productos__card--title { color: black; margin: 0; font-size: xx-large; }

.hero__productos__card--link { border-radius: 10px; background-color: burlywood; color: black; font-size: x-large; padding: 0.5rem 1rem; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; }

.hero__productos__card--link:hover { font-weight: 700; background-color: antiquewhite; color: black; }

.hero__productos__card--link:active { -webkit-transform: scale(0.95); transform: scale(0.95); }

.catalogo__container { margin-top: 2rem; color: black; }

.catalogo--title { background-color: #a06e3c; text-align: center; font-weight: 700; }

body.dark .catalogo--title { color: #f1f1f1; -webkit-transition: background-color 2s; transition: background-color 2s; }

.catalogo--subtitle { margin-top: 1rem; margin-left: 4rem; margin-bottom: 2rem; }

body.dark .catalogo--subtitle { color: #f1f1f1; -webkit-transition: background-color 2s; transition: background-color 2s; }

.catalogo__cafes { margin: 0 5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 2rem; }

.catalogo__cafes__card { border: 1px dashed black; width: 20rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.catalogo__cafes__card:hover { -webkit-transition: background-color 1s linear; transition: background-color 1s linear; background-color: antiquewhite; }

.catalogo__cafes__card-image { margin: 0.5rem; border-radius: 50%; -o-object-fit: cover; object-fit: cover; height: 10rem; width: 10rem; border: 1px black solid; }

.catalogo__cafes__card-image:hover { -webkit-transform: scale(1.1); transform: scale(1.1); }

.catalogo__cafes__card-text { padding: 0.25rem 1rem; }

body.dark .catalogo__cafes__card-text { color: #f1f1f1; -webkit-transition: background-color 2s; transition: background-color 2s; }

.catalogo__cafes__card-title { text-align: center; display: block; background-color: #a06e3c; }

.catalogo__cafes__card-paragraph { text-align: justify; font-size: small; }

@-webkit-keyframes fade { from { opacity: 0.4; }
  to { opacity: 1; } }

@keyframes fade { from { opacity: 0.4; }
  to { opacity: 1; } }

.catalogo__cafeteras { display: -ms-grid; display: grid; height: 100%; place-items: center; text-align: center; }

.catalogo__cafeteras__slider { max-width: 1200px; overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; }

.catalogo__cafeteras__card { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin: 0 10px; border: 1px solid black; }

.catalogo__cafeteras__card-img { height: 200px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-line-pack: center; align-content: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; justify-items: center; }

.catalogo__cafeteras__card-img img { background-color: white; height: 100%; width: 100%; -o-object-fit: contain; object-fit: contain; }

.catalogo__cafeteras__card-content { padding: 10px 20px; background-color: antiquewhite; -webkit-transition: background-color 1s; transition: background-color 1s; }

.catalogo__cafeteras__card-content:hover { -webkit-transition: background-color 1s; transition: background-color 1s; background-color: burlywood; }

.catalogo__cafeteras__card-content .title { font-size: 25px; font-weight: 600; }

body.dark .catalogo__cafeteras__card-content .title { color: #f1f1f1; -webkit-transition: background-color 2s; transition: background-color 2s; }

.catalogo__cafeteras__card-content .subtitle { font-size: 20px; font-weight: 600; color: white; background-color: #2828aa; line-height: 20px; }

.catalogo__cafeteras__card-content .paragraph { text-align: justify; margin: 10px 0; }

body.dark .catalogo__cafeteras__card-content .paragraph { -webkit-transition: background-color 2s; transition: background-color 2s; }

.catalogo__cafeteras__card-content .btn { background-color: #e74c3c; color: #fff; border: none; outline: none; font-size: 17px; padding: 10px auto; border-radius: 5px; cursor: pointer; -webkit-transition: 0.2s; transition: 0.2s; }

.catalogo__cafeteras__card-content .btn:hover { background-color: #dc321e; }

.catalogo__cafeteras__card-content .btn:active { -webkit-transform: scale(0.95); transform: scale(0.95); }

.catalogo__cafeteras .owl-item { background-color: transparent; }

@media (max-width: 1000px) { .catalogo__cafeteras__slider { max-width: 1000px; }
  .catalogo__cafeteras__card { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin: 0 5px; }
  .catalogo__cafeteras__card-img { height: 250px; }
  .catalogo__cafeteras__card-img img { background-color: white; height: 100%; width: 100%; }
  .catalogo__cafeteras__card-content { padding: 10px 20px; }
  .catalogo__cafeteras__card-content .title { font-size: 20px; font-weight: 600; }
  .catalogo__cafeteras__card-content .paragraph { margin: 10px 0; }
  .catalogo__cafeteras__card-content .btn { font-size: 17px; padding: 10px auto; } }

@media (max-width: 760px) { .catalogo__cafeteras__slider { max-width: 760px; }
  .catalogo__cafeteras__card { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin: 0 5px; }
  .catalogo__cafeteras__card-img { height: 250px; }
  .catalogo__cafeteras__card-img img { height: 100%; width: 100%; }
  .catalogo__cafeteras__card-content { padding: 5px 10px; }
  .catalogo__cafeteras__card-content .title { font-size: 18px; font-weight: 600; }
  .catalogo__cafeteras__card-content .subtitle { font-size: 15px; }
  .catalogo__cafeteras__card-content .paragraph { margin: 5px 0; }
  .catalogo__cafeteras__card-content .btn { font-size: 15px; padding: 8px auto; border-radius: 5px; } }

@media (max-width: 600px) { .catalogo__cafeteras__slider { max-width: 600px; }
  .catalogo__cafeteras__card { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin: 0 5px; }
  .catalogo__cafeteras__card-img { height: 250px; }
  .catalogo__cafeteras__card-img img { height: 100%; width: 100%; }
  .catalogo__cafeteras__card-content { padding: 5px 10px; }
  .catalogo__cafeteras__card-content .title { font-size: 15px; font-weight: 600; }
  .catalogo__cafeteras__card-content .subtitle { font-size: 12px; font-weight: 600; }
  .catalogo__cafeteras__card-content .paragraph { margin: 5px 0; }
  .catalogo__cafeteras__card-content .btn { font-size: 12px; padding: 5px auto; border-radius: 5px; } }

.hero__contacto { height: 800px; margin-top: 4rem; background-image: url("images/coffee_bartender.jpg"); background-size: cover; background-position: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media (min-width: 1000px) { .hero__contacto { height: 800px; background-size: cover; -webkit-filter: grayscale(100%); filter: grayscale(100%); }
  .hero__contacto:hover { -webkit-filter: grayscale(0%); filter: grayscale(0%); } }

.hero__contacto__card { background-color: rgba(255, 255, 255, 0.5); padding: 10px; border-radius: 20px; border: 1px solid black; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; text-align: center; -ms-flex-item-align: center; align-self: center; }

.hero__contacto__card:hover { background-color: rgba(222, 184, 135, 0.8); -webkit-transition: background-color 0.5s linear; transition: background-color 0.5s linear; color: black; }

.hero__contacto__card--title { color: black; margin: 0; }

.hero__contacto__card--subtitle { color: black; text-align: left; font-size: 1rem; font-weight: lighter; margin: 0; }

.hero__contacto__card__button { padding: 10px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; display: -webkit-box; display: -ms-flexbox; display: flex; gap: 20px; }

.hero__contacto__card__button--btn { background-color: burlywood; opacity: 0.95; padding: 10px; border-radius: 20px; color: ivory; text-decoration: none; }

.hero__contacto__card__button--btn:hover { -webkit-transform: scale(1.1); transform: scale(1.1); }

.form { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.form__container { padding: 10px; }

.form__container:hover { -webkit-transition: background-color 0.5s linear; transition: background-color 0.5s linear; color: black; }

.form__container:hover .form-control--label { color: black; }

.form-control { background-color: transparent; border: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 5px 0px; }

.form-control.ok input { border: 1px solid; border-color: #0de61f; }

.form-control.error input { border: 1px solid; border-color: #fe5f55; }

.form-control.error span { visibility: visible; color: #e74c3c; font-weight: 700; }

.form-control span { visibility: hidden; font-size: small; font-weight: 500; text-align: right; }

.form-control--label { font-weight: bold; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; text-align: center; color: black; }

.form-control--label--genero { color: black; text-align: center; margin: 0px auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 0.5rem; }

.form-control--btn { background-color: burlywood; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; padding: 0.5rem; border-radius: 10px; color: ivory; text-decoration: none; }

.form-control--btn:hover { background-color: antiquewhite; font-weight: 700; color: black; }

.form-control--btn:active { -webkit-transform: scale(0.9); transform: scale(0.9); }

.modal-content { width: 40%; height: auto; background-color: antiquewhite; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: relative; -webkit-transition: -webkit-transform 1s; transition: -webkit-transform 1s; transition: transform 1s; transition: transform 1s, -webkit-transform 1s; -webkit-transform: translateY(0%); transform: translateY(0%); border-radius: 10px; }

.modal-content .close { position: absolute; top: 5px; right: 5px; display: inline-block; width: 25px; height: 25px; background-color: #c44a4a; color: #fff; line-height: 25px; cursor: pointer; border-radius: 50%; margin-bottom: 0; }

.modal-container { opacity: 0; visibility: hidden; position: fixed; z-index: 100; width: 100%; height: 100vh; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.5); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.modal-close { -webkit-transform: translateY(-200%); transform: translateY(-200%); }

.modal-text { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.modal-text h2 { background: #089750; color: antiquewhite; margin-bottom: 0; }

.modal-text > p { font-size: x-large; color: black; text-align: center; margin-bottom: 0; padding: 1rem 0.5rem; }

.video-card-container { position: relative; width: 92%; margin: auto; height: 10vw; display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 20px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.video-card { position: relative; min-width: calc(100% / 5 - 10px); width: calc(100% / 5 - 10px); height: 100%; border-radius: 5px; overflow: hidden; background: #030b17; }

.video-card-image, .card-video { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.card-video { position: absolute; }

.video-card:hover .video-card-image { display: none; }

.main { margin: 0 auto; padding: 0 20px; }

@media (min-width: 1200) { .disney-rows { max-width: 1600px; margin: 0 auto; } }

.disney-rows { margin: 0 auto; padding: 0 20px; }

.grid { display: -ms-grid; display: grid; grid-row-gap: 15px; padding-bottom: 10px; }

.card-item { width: 100%; position: relative; cursor: pointer; border-radius: 10px; background: -webkit-gradient(linear, left top, left bottom, from(#3a3c4a), to(#242632)); background: linear-gradient(to bottom, #3a3c4a, #242632); -webkit-box-shadow: black 0px 26px 30px -10px, black 0px 16px 10px -10px; box-shadow: black 0px 26px 30px -10px, black 0px 16px 10px -10px; }

.item-border { position: relative; border-radius: 10px; -webkit-transition: 250ms; transition: 250ms; }

.item-image { width: 100%; height: 100%; border-radius: 5px; z-index: 1; }

.item-image.hover-image { position: absolute; -o-object-fit: cover; object-fit: cover; top: 0; left: 0; opacity: 0; -webkit-transition-duration: 300ms; transition-duration: 300ms; visibility: hidden; }

.card-item:hover .item-border { -webkit-transform: scale(1.01); transform: scale(1.01); border: 5px solid rgba(250, 250, 250, 0.8); }

.card-item:hover .item-image.hover-image { position: absolute; top: 0; z-index: -1; opacity: 1; visibility: visible; }

@media screen and (min-width: 300px) { .grid { -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr; grid-template-columns: 1fr 1fr 1fr 1fr 1fr; grid-column-gap: 15px; }
  .item-border { border: 2px solid rgba(250, 250, 250, 0.1); } }

@media screen and (min-width: 768px) { .item-border { border: 4px solid rgba(250, 250, 250, 0.1); } }

.carousel__container { max-width: 1200px; margin: 0 auto; margin-top: 4rem; }

.carousel__image { height: 40rem; -o-object-fit: cover; object-fit: cover; max-width: 1200px; width: 100%; }

.carousel__text { color: #f2f2f2; font-size: 15px; padding: 8px 12px; position: absolute; bottom: 8px; width: 100%; text-align: center; }

/* Slideshow container */
.slideshow__container { max-width: 1200px; position: relative; margin: auto; }

/* Hide the images by default */
.mySlides { display: none; }

/* Next & previous buttons */
.prev, .next { cursor: pointer; position: absolute; top: 50%; width: auto; margin-top: -22px; padding: 16px; color: white; font-weight: bold; font-size: 18px; -webkit-transition: 0.6s ease; transition: 0.6s ease; border-radius: 0 3px 3px 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

/* Position the "next button" to the right */
.next { right: 0; border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover { background-color: rgba(0, 0, 0, 0.8); }

/* Caption text */
/* Number text (1/3 etc) */
.numbertext { color: #f2f2f2; font-size: 12px; padding: 8px 12px; position: absolute; top: 0; }

/* The dots/bullets/indicators */
.dot { cursor: pointer; height: 15px; width: 15px; margin: 0 2px; background-color: #bbb; border-radius: 50%; display: inline-block; -webkit-transition: background-color 0.6s ease; transition: background-color 0.6s ease; }

.active, .dot:hover { background-color: #f2f2f2; /* background-color: #717171; */ }

/* Fading animation */
.slide-fade { -webkit-animation-name: fade; animation-name: fade; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; }

.cards { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; -webkit-transition: background-color 1s linear; transition: background-color 1s linear; }

.cards:hover { background-color: rgba(222, 184, 135, 0.8); -webkit-transition: background-color 1s linear; transition: background-color 1s linear; }

.cards__container { max-width: 1200px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin: 0 auto; margin-bottom: 2rem; }

.cards .text__container { display: block; text-align: center; color: black; width: 50%; -webkit-transition: background-color 2s; transition: background-color 2s; }

body.dark .cards .text__container { color: #f1f1f1; -webkit-transition: background-color 2s; transition: background-color 2s; }

.cards .text-title { margin: 0; }

.cards .text-paragraph { font-size: large; text-align: justify; padding: 0 0.5rem; margin: 0; }

.cards__image { height: 25rem; width: 50%; }

@media (max-width: 1000px) { .cards__container { max-width: 1000px; }
  .cards .text__container { display: block; position: absolute; background-color: rgba(250, 235, 215, 0.5); max-width: 600px; width: auto; }
  body.dark .cards .text__container { background-color: rgba(0, 0, 0, 0.5); }
  .cards .text-paragraph { font-size: medium; }
  .cards__image { width: 600px; -o-object-fit: cover; object-fit: cover; } }

@media (max-width: 600px) { .cards__container { max-width: none; }
  .cards .text__container { max-width: none; }
  .cards__image { width: 100%; -o-object-fit: cover; object-fit: cover; } }

.hero { height: 50rem; width: 100%; max-width: 1200px; background-image: url("images/foto_header.jpg"); background-position: center; background-size: cover; background-repeat: no-repeat; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: -webkit-filter 1s linear; transition: -webkit-filter 1s linear; transition: filter 1s linear; transition: filter 1s linear, -webkit-filter 1s linear; -webkit-filter: grayscale(100%); filter: grayscale(100%); }

.hero:hover { -webkit-filter: grayscale(0%); filter: grayscale(0%); -webkit-transition: -webkit-filter 1s linear; transition: -webkit-filter 1s linear; transition: filter 1s linear; transition: filter 1s linear, -webkit-filter 1s linear; }

.hero__container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-size: inherit; background-position: center; }

.hero__video { margin: 0 auto; padding: 0 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.hero__video .card-item { width: 100%; position: relative; border-radius: 10px; background-color: rgba(250, 250, 250, 0.5); }

.hero__video .card-item .item-border { position: relative; border-radius: 10px; -webkit-transition: 250ms; transition: 250ms; }

.hero__video .card-item .item-border .item-image { width: 100%; height: 100%; border-radius: 5px; z-index: 1; }

.hero__card { margin: auto; padding: 10px 5px; color: black; background: rgba(222, 184, 135, 0.5); border-radius: 5px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; text-align: center; -ms-flex-item-align: center; align-self: center; gap: 10px; }

.hero__card:hover { background-color: transparent; color: white; }

.hero__card--title { font-size: 20px; }

.hero__card--text h4 { font-size: 20px; }

.hero__card__button { padding: 10px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; display: -webkit-box; display: -ms-flexbox; display: flex; gap: 20px; }

.hero__card__button--btn { background-color: burlywood; opacity: 0.95; padding: 10px; border-radius: 20px; color: ivory; text-decoration: none; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; }

.hero__card__button--btn:hover { color: black; font-weight: 700; -webkit-transform: scale(1); transform: scale(1); background-color: antiquewhite; }

@media (min-width: 1200) { .hero__video { max-width: 1600px; margin: 0 auto; } }

.item-image.hover-image { position: absolute; -o-object-fit: cover; object-fit: cover; top: 0; left: 0; opacity: 0; -webkit-transition-duration: 300ms; transition-duration: 300ms; visibility: hidden; }

.card-item:hover .item-border { -webkit-transform: scale(1.01); transform: scale(1.01); border: 5px solid rgba(250, 250, 250, 0.8); }

.card-item:hover .item-image.hover-image { position: absolute; top: 0; z-index: -1; opacity: 1; visibility: visible; }

.suscripcion__container { margin-top: 1rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.suscripcion__content { max-width: 1200px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.suscripcion__image { max-width: 1200px; height: auto; width: 52rem; }

.suscripcion__text { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 1rem; }

.suscripcion__text--link { background-color: antiquewhite; border-radius: 1rem; padding: 0.5rem; -webkit-transition: background-color 2s; transition: background-color 2s; }

body.dark .suscripcion__text--link { background-color: #191919; color: #f1f1f1; -webkit-transition: background-color 2s; transition: background-color 2s; }

.suscripcion__text--link h5 { font-size: large; }

.suscripcion__text--link h5, .suscripcion__text--link p { text-align: center; }

.suscripcion__text--link p { margin-bottom: 0; }

.suscripcion__text--link p a { color: black; -webkit-transition: color 2s; transition: color 2s; }

body.dark .suscripcion__text--link p a { color: #f1f1f1; }

.suscripcion__card { margin: 0.5rem; padding: 0.5rem; width: 20rem; border: 1px solid black; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.suscripcion__card p { text-align: justify; }

.suscripcion__card a { text-align: center; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; background-color: burlywood; color: black; border: 1px solid black; padding: 0.5rem; border-radius: 1rem; }

.suscripcion__card a:hover { font-weight: 700; background-color: antiquewhite; }

.suscripcion__card a:active { -webkit-transform: scale(0.95); transform: scale(0.95); }

.map__section { max-width: 1200px; gap: 5px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 2rem auto; }

.map--title { text-align: center; width: 100%; display: inline-block; color: black; background-color: #a06e3c; }

body.dark .map--title { color: #f1f1f1; -webkit-transition: background-color 2s; transition: background-color 2s; }

.map--subtitle { text-align: center; }

.map__iframe { width: 90%; height: 20rem; border-radius: 20px; }

.map__iframe:hover { border: 2px solid rgba(50, 50, 50, 0.8); }

.map__iframe__container { width: 100%; margin: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; }

@media screen and (max-width: 1200px) { .suscripcion__image { display: block; height: 20rem; width: auto; }
  .suscripcion__text--link { margin: 0.5rem; max-width: 20rem; width: auto; }
  __card { margin: 1rem; padding: 0.5rem; max-width: 20rem; width: auto; } }

@media screen and (max-width: 1024px) { .suscripcion__container { margin-top: 1rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .suscripcion__content { max-width: 1200px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .suscripcion__image { display: block; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; width: 100%; }
  .suscripcion__text--link { margin: 0.5rem; max-width: 20rem; width: auto; }
  __card { margin: 1rem; padding: 0.5rem; max-width: 20rem; width: auto; } }

@media screen and (max-width: 600px) { .suscripcion__image { display: block; max-width: 600px; height: auto; }
  .suscripcion__text--link { margin: 0.5rem; width: auto; }
  __card { margin: 0.5rem; padding: 0.5rem; max-width: 600px; width: auto; } }

@media screen and (max-width: 360px) { .suscripcion__image { display: block; max-width: 300px; height: auto; }
  .suscripcion__text--link { margin: 0.5rem; width: auto; }
  .suscripcion__card { margin: 0.5rem; padding: 0.5rem; max-width: 360px; width: auto; } }

@media screen and (min-width: 300px) { .item-border { border: 2px solid rgba(250, 250, 250, 0.1); } }

@media screen and (min-width: 768px) { .item-border { border: 4px solid rgba(250, 250, 250, 0.1); } }
