*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  background-color: burlywood;
  background-color: rgba($color: burlywood, $alpha: 0.5);
  box-sizing: border-box;
}
