.header {
  & {
    // padding: 0 1rem;

    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    max-width: 1200px;
    text-align: center;
    padding-top: 0.25rem;
  }
  &__container {
    text-align: center;
    position: fixed;
    background-color: burlywood;
    width: 100%;
    align-content: center;
    z-index: 2;
    transition: background-color 2s;
    transition: color 2s;

    // display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    // height: auto;
    // position: relative;

    body.dark & {
      background-color: rgb(25, 25, 25);
      color: #f1f1f1;
      // transition-duration: 5s;
      // transition: color 2s;
      transition: background-color 2s;
    }
  }

  &__logo {
    display: flex;
    // flex: 1;

    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin: auto 0;
  }

  &__logoBtn {
    background: none;
    border: none;

    &--img {
      width: 4em;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    // gap: 1rem;
  }
  &__links {
    text-decoration: none;
    color: rgb(5, 60, 30);
    font-weight: 700;
    padding: 0 0.5rem;
    transition: color 2s;

    &:hover {
      cursor: pointer;
      background-color: white;
      color: black;

      // transition-delay: 2s;
      transition: background-color 1s;
      border-radius: 1rem;
    }
    body.dark & {
      color: #f1f1f1;
      transition: color 2s;
    }
  }
  &__menuBtn {
    background: none;
    border: none;
    display: none;

    &--img {
      width: 2em;
    }
  }

  .btnSwitch {
    &__container {
      padding: 10px;
    }

    & {
      background-color: #343d5b;
      transition: background-color 1s;
      border-radius: 1000px;
      border: none;
      position: relative;
      cursor: pointer;
      display: flex;
      outline: none;

      &::after {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #f1f1f1;
        top: 0;
        left: 0;
        // right: unset;
        border-radius: 100px;
        // transition: 0.3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
      }

      &.active {
        background: orange;
        transition: background-color 1s;
        color: black;

        &::after {
          right: 0;
          left: unset;
        }
      }
      span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: ivory;
      }
    }
  }
}

// .header {
//   & {
//     align-items: center;
//     padding: 5px;
//     display: flex;
//     justify-content: space-between;
//     background-color: $color-secundario;
//     padding: 0 20px;

//     position: fixed;
//     top: 0;
//     width: 100%;
//     z-index: 2;

//     body.dark & {
//       background-color: $grisOscuro;
//     }

//     @media (min-width: 1280px) {
//       // max-width: 1200px;
//       margin: 0 auto;
//     }
//   }
//   &__container {
//     position: relative;
//     width: 100%;

//     @media (min-width: 1280px) {
//       // max-width: 1200px;
//       margin: 0 auto;
//     }
//   }

//   &__logo {
//     display: flex;
//     flex: 1;
//     align-items: center;

//     @media (min-width: 760px) {
//       flex: 2;
//     }
//     @media (min-width: 1000px) {
//       flex: 2;
//     }
//     .switch {
//       padding: 10px;
//     }
//   }
//   &__title {
//     padding: 5px;
//     color: $negro;
//     font-size: (5 * $size);
//     text-align: center;

//     body.dark & {
//       color: $blanco;
//     }

//     @media (min-width: 760px) {
//       font-size: (8 * $size);
//     }
//     @media (min-width: 1000px) {
//       font-size: (10 * $size);
//     }
//   }

//   &__logoBtn {
//     background: none;
//     background-color: none;
//     border: none;
//     &--img {
//       width: (16 * $size);

//       &:hover {
//         cursor: pointer;
//       }

//       @media (min-width: 760px) {
//         width: (20 * $size);
//       }

//       @media (min-width: 1000px) {
//         width: (20 * $size);
//       }
//     }
//     &:active {
//       // cursor: pointer;
//       // color: $color-secundario;
//       transform: scale(0.9);
//     }
//   }

//   &__nav {
//     display: none;
//     justify-content: right;
//     position: absolute;
//     top: 100%;
//     left: 0;
//     right: 0;
//     padding: 10px 0;
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     flex: 1;

//     body.dark & {
//       background-color: $grisOscuro;
//     }

//     @media (max-width: 760px) {
//       background-color: $color-secundario;
//     }
//     @media (min-width: 760px) {
//       position: static;
//       width: 100%;
//       //   top: 0;
//       //   right: 0;
//       //   left: 0;
//       flex-direction: row;
//       gap: 10px;
//       flex: 3;
//     }
//     @media (min-width: 1000px) {
//       flex: 3;
//     }
//   }
//   &__menuBtn {
//     background: none;
//     background-color: none;
//     border: none;
//     display: flex;
//     flex: 1;
//     justify-content: right;
//     &--img {
//       width: 30px;
//       // margin-right: 10px;

//       @media (min-width: 760px) {
//         width: (10 * $size);
//       }

//       &:active {
//         // cursor: pointer;
//         // color: $color-secundario;
//         transform: scale(0.9);
//       }
//     }

//     @media (min-width: 760px) {
//       display: none;
//     }
//   }

//   &__links {
//     display: flex;
//     color: $negro;
//     font-weight: bold;
//     text-decoration: none;
//     font-size: 20px;
//     padding: 10px 0;
//     width: 100%;
//     justify-content: center;
//     text-align: center;

//     body.dark & {
//       color: $blanco;
//     }

//     &:active {
//       background-color: $color-secundario;
//       padding: 5px 0;
//       border-radius: 10px;
//       color: $negro;
//     }

//     @media (min-width: 760px) {
//       display: flex;
//       font-size: 20px;
//       width: auto;
//       padding: 20px 0;
//     }
//     @media (min-width: 1000px) {
//       font-size: (5 * $size);
//     }
//   }

//   .btnSwitch {
//     background-color: #343d5b;
//     border-radius: 1000px;
//     border: none;
//     position: relative;
//     cursor: pointer;
//     display: flex;
//     outline: none;

//     &::after {
//       content: '';
//       display: block;
//       width: 30px;
//       height: 30px;
//       position: absolute;
//       background: #f1f1f1;
//       top: 0;
//       left: 0;
//       right: unset;
//       border-radius: 100px;
//       transition: 0.3s ease all;
//       box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
//     }

//     &.active {
//       background: orange;
//       color: black;

//       &::after {
//         right: 0;
//         left: unset;
//       }
//     }

//     span {
//       width: 30px;
//       height: 30px;
//       line-height: 30px;
//       display: block;
//       background: none;
//       color: ivory;
//     }
//   }
// }

// .hidden {
//   display: none;
//   @media (min-width: 740px) {
//     display: flex;
//   }
// }
