// https://www.youtube.com/watch?time_continue=1489&v=ZeY9RicS2js&feature=emb_logo&ab_channel=ModernWeb

.hero {
  & {
    height: 50rem;
    width: 100%;
    max-width: 1200px;
    background-image: url('images/foto_header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;

    justify-content: center;
    align-items: center;
    transition: filter 1s linear;
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0%);
      transition: filter 1s linear;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: inherit;
    background-position: center;
  }

  &__video {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .card-item {
      width: 100%;
      position: relative;
      border-radius: 10px;
      background-color: rgba(250, 250, 250, 0.5);

      .item-border {
        position: relative;
        border-radius: 10px;
        transition: 250ms;

        .item-image {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          z-index: 1;
        }
      }
    }
  }

  &__card {
    margin: auto;
    padding: 10px 5px;
    color: black;
    background: rgba($color: burlywood, $alpha: 0.5);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    gap: 10px;
    &:hover {
      background-color: transparent;
      color: white;
    }

    &--title {
      font-size: 20px;
    }
    &--text {
      h4 {
        font-size: 20px;
      }
    }
    &__button {
      padding: 10px;
      align-items: center;
      justify-content: center;
      display: flex;
      gap: 20px;
      &--btn {
        background-color: burlywood;
        opacity: 0.95;
        padding: 10px;
        border-radius: 20px;
        color: ivory;
        text-decoration: none;
        align-self: center;
        &:hover {
          color: black;
          font-weight: 700;
          transform: scale(1);
          background-color: antiquewhite;
        }
      }
    }
  }
}

@media (min-width: 1200) {
  .hero__video {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.item-image.hover-image {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0;
  transition-duration: 300ms;
  visibility: hidden;
}

.card-item:hover .item-border {
  transform: scale(1.01);
  border: 5px solid rgba(250, 250, 250, 0.8);
}

.card-item:hover .item-image.hover-image {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 1;
  visibility: visible;
}

// Suscription Section
.suscripcion {
  &__container {
    margin-top: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 0.5rem;
  }
  &__image {
    max-width: 1200px;
    height: auto;
    width: 52rem;
  }
  &__text {
    & {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    &--link {
      background-color: antiquewhite;
      border-radius: 1rem;
      padding: 0.5rem;
      transition: background-color 2s;
      body.dark & {
        background-color: rgb(25, 25, 25);
        color: #f1f1f1;
        transition: background-color 2s;
      }
      h5 {
        font-size: large;
      }
      h5,
      p {
        text-align: center;
      }
      p {
        margin-bottom: 0;
        a {
          color: black;
          transition: color 2s;
          body.dark & {
            color: #f1f1f1;
          }
        }
      }
    }
  }
  &__card {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 20rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      text-align: justify;
    }
    a {
      text-align: center;
      width: fit-content;
      background-color: burlywood;
      color: black;
      border: 1px solid black;
      padding: 0.5rem;
      border-radius: 1rem;

      &:hover {
        font-weight: 700;
        background-color: antiquewhite;
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}

// Map Section
.map {
  &__section {
    max-width: 1200px;
    gap: 5px;

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
  }
  &--title {
    text-align: center;
    width: 100%;
    display: inline-block;
    color: black;
    background-color: rgb(160, 110, 60);

    body.dark & {
      color: #f1f1f1;
      transition: background-color 2s;
    }
  }
  &--subtitle {
    // font-size: 0.8rem;
    text-align: center;
  }
  &__iframe {
    & {
      width: 90%;
      height: 20rem;
      border-radius: 20px;
      &:hover {
        border: 2px solid rgba(50, 50, 50, 0.8);
      }
    }

    &__container {
      width: 100%;
      margin: auto;

      display: flex;
      justify-content: center;
      align-content: center;
    }
  }
}

// MAX WIDTH 1200px CORRECCIONES NECESARIAS
@media screen and (max-width: 1200px) {
  .suscripcion {
    &__image {
      display: block;
      height: 20rem;
      width: auto;
    }

    &__text {
      &--link {
        margin: 0.5rem;
        max-width: 20rem;
        width: auto;
      }
    }
  }
  &__card {
    margin: 1rem;
    padding: 0.5rem;
    max-width: 20rem;
    width: auto;
  }
}

// MAX WIDTH 1024px TABLET
@media screen and (max-width: 1024px) {
  .suscripcion {
    &__container {
      margin-top: 1rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__content {
      max-width: 1200px;
      flex-direction: column;
    }
    &__image {
      display: block;
      height: fit-content;
      width: 100%;
    }

    &__text {
      &--link {
        margin: 0.5rem;
        max-width: 20rem;
        width: auto;
      }
    }
  }
  &__card {
    margin: 1rem;
    padding: 0.5rem;
    max-width: 20rem;
    width: auto;
  }
}

// MAX WIDTH 1024px TELÉFONOS SMART
@media screen and (max-width: 600px) {
  .suscripcion {
    &__image {
      display: block;
      max-width: 600px;
      height: auto;
    }

    &__text {
      &--link {
        margin: 0.5rem;
        width: auto;
      }
    }
  }
  &__card {
    margin: 0.5rem;
    padding: 0.5rem;
    max-width: 600px;
    width: auto;
  }
}

@media screen and (max-width: 360px) {
  .suscripcion {
    &__image {
      display: block;
      max-width: 300px;
      height: auto;
    }
    &__text {
      &--link {
        margin: 0.5rem;
        width: auto;
      }
    }
    &__card {
      margin: 0.5rem;
      padding: 0.5rem;
      max-width: 360px;
      width: auto;
    }
  }
}

@media screen and (min-width: 300px) {
  .item-border {
    border: 2px solid rgba(250, 250, 250, 0.1);
  }
}

@media screen and (min-width: 768px) {
  .item-border {
    border: 4px solid rgba(250, 250, 250, 0.1);
  }
}
