.hero {
  &__productos {
    height: 50rem;
    margin-top: 4rem;
    background-image: url('../../images/bartender.jpg');
    background-size: cover;

    background-position: center;
    display: flex;

    justify-content: center;

    background-size: cover;
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0%);
    }

    &__card {
      background-color: rgba(255, 255, 255, 0.5);
      padding: 2rem;
      height: 12rem;
      width: auto;

      border-radius: 20px;
      border: 1px solid black;
      display: flex;
      flex-direction: column;

      align-self: center;
      align-items: center;
      gap: 2rem;
      &:hover {
        background-color: rgba(222, 184, 135, 0.5);
        transition: background-color 0.5s linear;
        color: black;
      }

      &--title {
        color: black;
        margin: 0;
        font-size: xx-large;
        // font-weight: 700;
      }
      &--link {
        // border: 1px solid black;
        border-radius: 10px;
        background-color: burlywood;
        color: black;
        font-size: x-large;

        padding: 0.5rem 1rem;
        width: fit-content;
        &:hover {
          font-weight: 700;
          background-color: antiquewhite;
          color: black;
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}

.catalogo {
  &__container {
    margin-top: 2rem;
    color: black;
  }
  &--title {
    background-color: rgb(160, 110, 60);
    text-align: center;
    font-weight: 700;

    body.dark & {
      color: #f1f1f1;
      transition: background-color 2s;
    }
  }
  &--subtitle {
    margin-top: 1rem;
    margin-left: 4rem;
    margin-bottom: 2rem;

    body.dark & {
      color: #f1f1f1;
      transition: background-color 2s;
    }
  }

  &__cafes {
    margin: 0 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;

    &__card {
      & {
        border: 1px dashed black;
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:hover {
          transition: background-color 1s linear;
          background-color: antiquewhite;
        }
      }

      &-image {
        margin: 0.5rem;
        border-radius: 50%;
        object-fit: cover;
        height: 10rem;
        width: 10rem;
        border: 1px black solid;
        &:hover {
          transform: scale(1.1);
        }
      }

      &-text {
        padding: 0.25rem 1rem;
        body.dark & {
          color: #f1f1f1;
          transition: background-color 2s;
        }
      }

      &-title {
        text-align: center;
        display: block;
        background-color: rgb(160, 110, 60);
      }
      &-paragraph {
        text-align: justify;
        font-size: small;
      }

      @keyframes fade {
        from {
          opacity: 0.4;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  &__cafeteras {
    & {
      display: grid;
      height: 100%;
      place-items: center;
      text-align: center;
    }
    &__slider {
      max-width: 1200px;
      overflow: hidden;
      display: flex;
    }
    &__card {
      & {
        flex: 1;
        margin: 0 10px;
        border: 1px solid black;
        &:hover {
          transition: background 1s;
          background-color: burlywood;
        }
      }

      &-img {
        height: 200px;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        justify-items: center;

        & img {
          background-color: white;
          height: 100%;
          width: 100%;
          object-fit: contain;
          // border-radius: 10%;
          // height: 10rem;
        }
      }
      &-content {
        padding: 10px 20px;
        & .title {
          font-size: 25px;
          font-weight: 600;
          body.dark & {
            color: #f1f1f1;
            transition: background-color 2s;
          }
        }
        & .subtitle {
          font-size: 20px;
          font-weight: 600;
          color: #e74c3c;
          line-height: 20px;
        }
        & .paragraph {
          text-align: justify;
          margin: 10px 0;
          body.dark & {
            color: #f1f1f1;
            transition: background-color 2s;
          }
        }
        & .btn {
          background-color: #e74c3c;
          color: #fff;
          border: none;
          outline: none;
          font-size: 17px;
          padding: 10px auto;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.2s;
          &:hover {
            // transform: scale(1.1);
            background-color: rgb(220, 50, 30);
          }
          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
  }
}
